@model IEnumerable<daniel_blog.Models.PostModel>
    @{
    ViewData["Title"] = "";
    }
    <h2>GetPosts</h2>
    <div style="margin:auto; width:40%; ">
        <div>
            @Html.DisplayNameFor(model => model.Title)
        </div>
        @foreach (var item in Model) {
                <a href="@Url.Action("GetPost", "Posts", new { id = item.PostId})">
            <div style="border:solid 1px red;">
                <p style="font-weight:bold; text-align:center;">
                    @Html.DisplayFor(modelItem => item.Title)
                </p>
                <p style="width: 100%;text-overflow: ellipsis; overflow: hidden;white-space: nowrap;">
                    @Html.DisplayFor(modelItem => item.Content)
                </p>
            </div>
            </a> 
            }
    </div>
    <div>
        <a href="@Url.Action("Create", "Posts")">Create a new</a>
    </div>
